body{
    text-align: center;
}
#kid1{
    border:2px solid red;
    background: green;
    padding: 20px;
    margin:10px;
    -webkit-box-ordinal-group: 1;
    -webkit-box-flex: 1;
}
#kid2{
    border:2px solid red;
    background: yellow;
    padding: 20px;
    margin:10px;
    -webkit-box-ordinal-group: 2;
    -webkit-box-flex: 4;
}
#kid3{
    border:2px solid red;
    background: red;
    padding: 20px;
    margin:10px;
    -webkit-box-ordinal-group: 3;
    -webkit-box-flex: 1;
}

#topMenu {
    border: red;
    background-color: purple;
    color: blue;
}
#topMenu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px Tahoma;
}
#flexDiv{
    display: inline-block;
    -webkit-box-orient: horizontal;
}
#mainSection{
    border:1px solid blue;
    -webkit-box-flex: 1;
    max-width: 200px;
    margin: 20px;
    padding: 20px;
    -webkit-box-ordinal-group: 1;
}
#sideNews {
    border: 1px solid red;
    width: 220px;
    margin: 20px 0px;
    padding: 30px;
    background-color: #ed8cff;
    -webkit-box-ordinal-group: 2;
}
#pageFooter{
    text-align: center;
    padding:20px;
    border-top:2px solid green;
}

#bigWrapper{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
}
#topMenu li:hover{
    -webkit-transform: scale(1.2,1.2);
    color: yellow;
}
#topHeader{
    font-size: 30px
    border: 3px solid purple;
    display:block;
    margin: 150px auto;
    color: black;
    background: -webkit-radial-gradient(center, circle, red 20%, purple 80%);
    width: 600px;
    height: 100px;
    -webkit-border-radius:10px;
    -webkit-box-shadow:rgb(110,110,110) 10px 8px 8px;
    -webkit-transform: rotate(360deg);

}

#topHeader:hover{
    -webkit-transform: translate(-30px, -40px)rotate(180deg)scale(1.2);
}
